html {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #efefef; }

.time {
  font-size: 0.9em;
  float: right; }
  .time:before {
    content: "["; }
  .time:after {
    content: "]"; }

body {
  font-family: "Courier";
  font-size: 12px; }
  body.normal .line {
    margin: 1ex;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    -webkit-border-radius: 6px; }
    body.normal .line.text {
      background-color: white; }
      body.normal .line.text:after {
        content: "";
        display: block;
        clear: both; }
    body.normal .line.event {
      background-color: #375d81; }
  body.normal .avatar {
    display: block;
    float: left; }
  body.normal .sender {
    float: left;
    display: block;
    width: 10ex;
    font-weight: bold;
    text-align: right; }
  body.normal .message {
    display: block;
    color: #e1e6fa;
    text-align: center;
    margin-left: 15ex;
    text-align: left; }
    body.normal .message[type=privmsg] {
      color: black; }
    body.normal .message[type=notice] {
      color: #666666; }
